<div class="container text-center py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="mt-5 display-4 text-primary">Technologie aplikacji webowych</h1>
      <p class="lead text-secondary">Witamy na naszym blogu technologicznym!</p>
      <p class="mb-4">Poznaj najnowsze trendy i najlepsze praktyki w rozwoju aplikacji webowych. Czekają na Ciebie ciekawe artykuły, porady ekspertów i wiele więcej.</p>
      <a [routerLink]="['/blog']" class="btn btn-lg btn-outline-primary">Przejdź do bloga</a>
    </div>
  </div>
</div>
