<div class="container text-center py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="mt-5 display-4 text-primary">Technologie aplikacji webowych</h1>
      <p class="lead text-secondary">Welcome to our technology blog!</p>
      <p class="mb-4">Learn about the latest trends and best practices in web application development. Interesting articles, expert advice and more await you.</p>
      <a [routerLink]="['/blog']" class="btn btn-lg btn-outline-primary">Go to blog</a>
    </div>
  </div>
</div>
