<section class="signup container">
  <h1 class="entry-title"><span>Create Account</span></h1>
  <hr>
  <div class="container justify-content-center align-items-center flex-column d-flex">
    <form class="justify-content-center align-items-center flex-column d-flex mt-2" style="width: 60vw;" method="post" name="signup" id="signup">
      <div class="form-group mb-2 w-100">
        <label class="control-label mt-1">Email<span class="text-danger">*</span></label>
        <input type="email" class="form-control" name="emailid" id="emailid" placeholder="Type email" value="" [(ngModel)]="credentials.email">
      </div>

      <div class="form-group mb-2 w-100">
        <label class="control-label mt-1">Password<span class="text-danger">*</span></label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter password (5-15 characters)" value="" [(ngModel)]="credentials.password">
      </div>

      <div class="form-group mb-2 w-100">
        <label class="control-label mt-1">Re-password<span class="text-danger">*</span></label>
        <input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Type re-password" value="">
      </div>

      <div class="form-group mb-2 w-100">
        <label class="control-label mt-1">Name<span class="text-danger">*</span></label>
        <input type="text" class="form-control" name="mem_name" id="mem_name" placeholder="Type name" value="" [(ngModel)]="credentials.name">
      </div>

      <button (click)="create()" name="Submit" type="submit" class="btn btn-outline-primary" title="Przycisk zarejestruj">Sign Up</button>
    </form>
  </div>
</section>
